<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyyMMdd:HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>

<!--	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<logger name="guru.springframework.controllers" level="WARN" additivity="false">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
	</logger>
-->
	<if condition='property("logging.level.com.yuriy").equals("DEBUG")'>
		<then>
			<logger name="com.yuriy" level="DEBUG"/>
		</then>
		<else>
			<logger name="com.yuriy" level="INFO"/>
		</else>
	</if>

	<root level="INFO">
		<appender-ref ref="STDOUT"/>
	</root>

</configuration>